The first main data type we will learn about for pandas is the Series data type. Let's import Pandas and explore the Series object.

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

Let's explore this concept through some examples:

In [3]:
import numpy as np
import pandas as pd

### Creating a Series

You can convert a list,numpy array, or dictionary to a Series:

In [8]:
labels = ['a','b','c']
my_list=[10,20,30]
arr=np.array([10,20,30])
d= {'a':10,'b':20,'c':30}

** Using Lists**

In [10]:
s1= pd.Series(labels)

In [12]:
s1

0    a
1    b
2    c
dtype: object

In [16]:
pd.Series(my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [18]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

** NumPy Arrays **

0    10
1    20
2    30
dtype: int32

In [22]:
pd.Series(arr,index=labels)

a    10
b    20
c    30
dtype: int32

** Dictionary**

In [26]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

### Data in a Series

A pandas Series can hold a variety of object types:

In [28]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [30]:
# Even functions (although unlikely that you will use this)
pd.Series([sum,print,len],index= ["sum" , "print" , "len"])

sum        <built-in function sum>
print    <built-in function print>
len        <built-in function len>
dtype: object

## Using an Index

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [40]:
s= pd.Series([1,2,3,4],index = ["USA","Germany","USSR","Japan"])

In [44]:
s2= pd.Series([1,2,3,4],index = ["USA","Germany","Italy","Japan"])

In [48]:
s[0]

C:\Users\hp\AppData\Local\Temp\ipykernel_3548\243613605.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[0]

1

In [50]:
s+s2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

Operations are then also done based off of index:

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [52]:
pd.Series(np.arange(1,11))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int32

Let's stop here for now and move on to DataFrames, which will expand on the concept of Series!
# Great Job!