In [21]:
import numpy as np

In [24]:

sudoku = np.array([
    [5, 3, 4, 6, 7, 8, 9, 1, 2],
    [6, 7, 2, 1, 9, 5, 3, 4, 8],
    [1, 9, 8, 3, 4, 2, 5, 6, 7],
    
    [8, 5, 9, 7, 6, 1, 4, 2, 3],
    [4, 2, 6, 8, 5, 3, 7, 9, 1],
    [7, 1, 3, 9, 2, 4, 8, 5, 6],
    
    [9, 6, 1, 5, 3, 7, 2, 8, 4],
    [2, 8, 7, 4, 1, 9, 6, 3, 5],
    [3, 4, 5, 2, 8, 6, 1, 7, 9]
])

In [26]:
sudoku.shape

(9, 9)

In [28]:
# See the sum of rows 

np.sum(sudoku,axis = 1)

array([45, 45, 45, 45, 45, 45, 45, 45, 45])

In [30]:
#see the sum of columns 
np.sum(sudoku,axis = 0)

array([45, 45, 45, 45, 45, 45, 45, 45, 45])

In [32]:
#see the sum of all the 3X3 blocks

In [35]:
sudoku

array([[5, 3, 4, 6, 7, 8, 9, 1, 2],
       [6, 7, 2, 1, 9, 5, 3, 4, 8],
       [1, 9, 8, 3, 4, 2, 5, 6, 7],
       [8, 5, 9, 7, 6, 1, 4, 2, 3],
       [4, 2, 6, 8, 5, 3, 7, 9, 1],
       [7, 1, 3, 9, 2, 4, 8, 5, 6],
       [9, 6, 1, 5, 3, 7, 2, 8, 4],
       [2, 8, 7, 4, 1, 9, 6, 3, 5],
       [3, 4, 5, 2, 8, 6, 1, 7, 9]])

In [18]:
sudoku[0:3,0:3]
sudoku[0:3,3:6]
sudoku[0:3,6:9]

array([[9, 1, 2],
       [3, 4, 8],
       [5, 6, 7]])

In [39]:
for row in range(0,9,3):
    for col in range(0,9,3):
        box = sudoku[row:row+3,col:col+3]
        box_sum = np.sum(box)
        if box_sum != 45:
            print("sudoku is wrong")
            break
        else:
            print(f"valus is {box_sum}")

valus is 45
valus is 45
valus is 45
valus is 45
valus is 45
valus is 45
valus is 45
valus is 45
valus is 45